<h1>Dokkan（仮）</h1>

<% if user_signed_in? %>
  <%= current_user.name %>
  <%= current_user.email %>
  <%= link_to "記録する", new_book_path %>
  <a href="#">本ごとに見る</a>
  <a href="#">内容ごとに見る</a>
  <a href="#">ユーザー編集</a>
  <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
