<h2 class="page-title"><%= @headline %>のページ</h2>

<div class="title-detail">
  <% @table.each do |table| %>
    <div class="book-name">
      <%= table.title %>
    </div>
    <div class="book-content">
      <%= table.content %>
    </div>
<% end %>
</div>

<div class="user-info">
  <%= link_to "記録する", new_book_path, class: "new-btn" %>
  <%= link_to "記録一覧", books_path, class: "index-btn" %>
</div>
