<h2>記録一覧</h2>


<% @books.each do |book| %>
<div>
  <%= book.title %>
  <%= book.headline %>
  <%= book.content %>
  <%= link_to "編集", edit_book_path(book.id) %>
  <%= link_to "削除", book_path(book.id),method: :delete,data: {confirm: "本当に削除していいですか？"} %>
</div>
<% end %>
<p>--------------------------</p>
<p>本メニュー</p>
<div>
<% @books.pluck(:title).uniq.each do |book| %>
<!-- pluckが配列を取得、uniqが重複を削除 -->
<div>
 <%= link_to book, "/books/title/#{book}" %>
</div>
<% end %>
</div>

<p>--------------------------</p>
<p>見出しメニュー</p>
<div>
<% @books.pluck(:headline).uniq.each do |book| %>
<div>
 <%= link_to book, "/books/headline/#{book}" %>
</div>
<% end %>
</div>

<p>--------------------------</p>

<div>
<%= link_to "記録する", new_book_path %>
</div>
