<h2>記録一覧</h2>

<%= search_form_for @search do |f| %>
  <%= f.label :content_cont, "内容を検索します" %>
  <%= f.search_field :content_cont %>


    <%= f.submit "検索" %>
<% end %>

<% @books.each do |book| %>
<div>
  <% if book.user_id == current_user.id %>
  <%= book.title %>
  <%= book.headline %>
  <%= book.content %>
  <%= link_to "編集", edit_book_path(book.id) %>
  <%= link_to "削除", book_path(book.id),method: :delete,data: {confirm: "本当に削除していいですか？"} %>
  <% end %>
</div>
<% end %>
<p>--------------------------</p>
<p>本メニュー</p>
<div>
<% @books.where(user_id: current_user.id).pluck(:title).uniq.each do |book| %>
<!-- pluckが配列を取得、uniqが重複を削除 -->
<!-- 先にログインしたidで投稿した記録を絞り出し、その後、重複を削除する。逆だと配列が本のタイトルだけになり、user_idで抜き出せない -->
<div>
 <%= link_to book, "/books/title/#{book}" %>
</div>
<% end %>
</div>

<p>--------------------------</p>
<p>見出しメニュー</p>
<div>
<% @books.where(user_id: current_user.id).pluck(:headline).uniq.each do |book| %>
<div>
 <%= link_to book, "/books/headline/#{book}" %>
</div>
<% end %>
</div>

<p>--------------------------</p>

<div>
<%= link_to "記録する", new_book_path %>
</div>
