<h2>記録画面</h2>


<%= form_with(model: @book, local: true, url: confirm_books_path) do |f| %>

  <% if @book.errors.any? %>
    <div>
      <h3><%= @book.errors.count %>件のエラーがあります</h3>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :headline %>
  <%= f.text_field :headline %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit "記録する" %>
<% end %>
